.input {
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.input label {
  margin-right: 1rem;
  font-weight: bold;
}

.input input {
  width: 4rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 1rem;
}
